<!DOCTYPE html>
<html lang="en">

<head>
	<title>Sauer Enrichment Web App</title>
</head>

<body>
	<div>
		<h1>Sauer Enrichment Analysis</h1>
		<form action="/transform" method="post" enctype="multipart/form-data">
			<h3>Upload main input file (csv)</h3>
		    <input type="file" name="input_file1" id="input_file1">
		    <br>
		    <h3>Upload formulae file (csv)</h3>
		    <input type="file" name="input_file2" id="input_file2">
		    <br>
		    <input type="submit" value="Process & Download" name="submit">
		</form>

		<!-- submit button functionality temporarily disabled
		<form action="/download" method="get">
			<input type="submit" value="Download Results" name="download">
		</form>
	-->
	</div>

</body>

<footer>
	<h3>Notes</h3>
	<ul>
	<li>Last updated: 8 Jan 2020</li>
	<li><a href="https://github.com/MetabolomicsAustralia-Bioinformatics/sauer-flaskapp" target="_blank">Link to repo on Github</a></li>
	<li>Web design inspired by <a href="https://www.berkshirehathaway.com" target="_blank">one of the most successful value investment companies in the world</a>.</li>
	</ul>
</footer>

</html>
